In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [5]:
# Add the Pandas dependency.
import pandas as pd

In [6]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [8]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [10]:
# Initialize a new DataFrame.

schools_df = pd.DataFrame ()

In [14]:
# Add the list to a new DataFrame.

schools_df["School ID"] = school_id

schools_df["School Name"] = school_name

schools_df["Type"] = type_of_school

#Print the DataFrame.

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Create a dictionary of information on high schools.
high_schools_dict = {"School ID": school_id, "School Name":school_name, "Type":type_of_school}

high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'School Name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'Type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [16]:
#Conver the dictionary high_schools_dict to a DataFrame.

high_schools_dict = pd.DataFrame ()

In [17]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'School Name', 'Type'], dtype='object')

In [18]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
school_df.values

array([[0, 'Huang High    School', 'District', 'Huang High School',
        'District'],
       [1, 'Figueroa High School', 'District', 'Figueroa High School',
        'District'],
       [2, 'Shelton High School', 'Charter', 'Shelton High School',
        'Charter'],
       [3, 'Hernandez High School', 'District', 'Hernandez High School',
        'District'],
       [4, 'Griffin High School', 'Charter', 'Griffin High School',
        'Charter']], dtype=object)

In [26]:
# Create a list for each column and add each list to a new Pandas DataFrame.

high_school_dicts = [{"School ID": 0, "school name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school name": "Wilson High School", "type": "charter"}]
high_school_dicts

[{'School ID': 0, 'school name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school name': 'Griffin High School', 'type': 'Charter'},
 {'School ID': 5, 'school name': 'Wilson High School', 'type': 'charter'}]

In [27]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   charter